.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.img {
  height: 80%;
  width: 311px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-plant {
  display: flex;
  background: white;
  padding: 48px
}

.create{
  background-image: url(fundo_new.png);
  padding-bottom: 200px;
}

body {
  min-height: 100vh;
  font-family: 'Fira Sans', sans-serif;
}

.content {
  padding-left: 114px;
}

.main {
  font-family: 'Oswald', sans-serif;
  font-family: 'Space Mono', monospace;
}

.link {
  font-family: 'Lobster', cursive;
  font-family: 'Oswald', sans-serif;
  font-family: 'Space Mono', monospace;
}
