.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.img {
  height: 80%;
  width: 311px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-plant {
  display: flex;
  background: white;
  padding: 48px
}

.create{
  background-image: url(fundo_new.png);
  padding-bottom: 200px;
}

body {
  min-height: 100vh;
  font-family: 'Fira Sans', sans-serif;
}

.content {
  padding-left: 114px;
}

.main {
  font-family: 'Oswald', sans-serif;
  font-family: 'Space Mono', monospace;
}

.link {
  font-family: 'Lobster', cursive;
  font-family: 'Oswald', sans-serif;
  font-family: 'Space Mono', monospace;
}

.card-body {
  flex: 1 1 auto;
  padding: 6rem 1rem;
}

.title {
  color: #6E8758;
  padding: 50px;
  text-align: center;
}

.btn-primary {
  color: #fff;
  background-color: #6e8758;
  border-color: #6e8758;

  &:hover {
    color: #fff;
    background-color: #4c5f3c;
    border-color: #6e8758;
  }
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
