

.fa-arrow-alt-circle-left{
    color: green;
    size-adjust: 32px;
    font-size: 40px;

}
// .fa {
//     display: flex;
//     font: normal normal normal 14px/1 FontAwesome;
    
//     FONT-VARIANT: JIS04;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
//     display: flex;