.navbar-lewagon {
  justify-content: space-between;
  background: #6e8758;
  color: #F4EEDF
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  color: white;
}

.text {
  font-family: 'Pacifico', cursive;
  font-size: 25px;
}
