h2, .h2 {
    margin: 2% auto 10% auto;
    text-align: center;
    font-size: 250%;
    font-family: 'Playfair Display', serif;
    color: #3e403f;
    
}

#sign_up,
#new_psw {
    margin: 0;
    text-align: center;
    font-size: 250%;
    font-family: 'Playfair Display', serif;
    color: #3e403f;
}